html, body {
    overflow: hidden;
    width: 100%;
    height:100%;
    background-color: #28303A;
    color:#6d7988;
}
a {
    text-decoration: underline;
}
dl {
    color:#C4C4C4;
    font-weight: 400;
    font-style: normal;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
    /*margin:0px; padding: 0px;*/
}
dt {
    margin-bottom: -3.5px;
    color:#6d7988;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
dd {
    display: block;
    margin-bottom: 7px;
}
dd a, dd a:hover {
    color:#C4C4C4;
    cursor: pointer;
    cursor: hand;
    pointer-events:auto;
}
dd dt {
    color:#C4C4C4;
    font-weight: 500;
    font-style: normal;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
.carousel {
    z-index: 1000;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-transition: opacity .75s;
    -moz-transition: opacity .75s;
    -ms-transition: opacity .75s;
    -o-transition: opacity .75s;
    transition: opacity .75s;
}
.carousel .active.left {
    left:0;
    z-index:2;
    opacity:0;
}
.carousel .next {
    left:0;
    z-index:1;
    opacity:1;
}
.carousel-caption {
    z-index: 2000;
    height: 100%;
    color:#C4C4C4;
    text-shadow:none;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
}
.carousel-caption img {
    width: 75px;
}
.flex {
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW, Chrome 21+ */
    display: flex;
    /* OLD… */
    -ms-flex-align: center;
    /* NEW: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    /* You know the drill now… */
    -webkit-align-items: center;
    align-items: center;
}
#home-page {
    position: absolute;
    /*top: 50px;*/
    left: 0px;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #C4C4C4;
}
#explore-button {
    cursor: pointer;
    cursor: hand;
}
#about-page {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 1000;
    display: none;
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    background-color: #182128;
    color:#6d7988;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
    opacity: 0;
}
#about-page p {
}
#about-page a {
    color:#6d7988;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
#about-page h1 {
    color:#C4C4C4;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
}
#about-page h2 {
    margin-bottom: 0px;
    color:#C4C4C4;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
}
#about-page dl {
    color:#6d7988;
    font-weight: 400;
    font-style: normal;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
}
#about-page dt {
    color:#C4C4C4;
    text-transform:capitalize;
    font-weight: 400;
    font-style: normal;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
}
#about-page-menu a, #credits a {
    color:#f13452;
}
#about-page-menu dd {
    margin: 0px;
}
#questions a {
    color:#f13452;
}
#map-page {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto -40px;
    padding: 0 0 40px;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #28303A;
    opacity: 0;
}
#map {
    width: 100%;
    height: 100%;
    background-color: #28303A;
}
#map svg {
    width: 100%;
    height: 100%;
}
#map-timeline {
    width: 100%;
    height: 40px;
    background-color: #28303A;
    /*-webkit-box-shadow: 0px -10px 10px rgba(255, 0, 0, 0.10); -moz-box-shadow: 0px -10px 10px rgba(255, 0, 0, 0.10); box-shadow: 0px -10px 10px rgba(255, 0, 0, 0.10); z-index:30000;*/
}
#map-timeline svg {
    width: 100%;
    height: 100%;
}
#water {
    pointer-events: auto;
    fill: none;
}
.water {
    fill:#28303A;
}
.land {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    pointer-events:none;
    /*fill: #212830;*/
    fill: #182128;
    fill-opacity:.5;
    stroke: #28303A;
    stroke-opacity:0;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.5px;
}
.visible {
    pointer-events:auto;
    stroke-opacity: 1;
}
.enabled {
    cursor: pointer;
    cursor: hand;
    /*fill: #182128; */
    fill-opacity:1;
}
.invisible {
    fill-opacity:0;
}
.story {
    pointer-events:auto;
    stroke-opacity: 1;
    /*fill: #182128; */
    fill-opacity:1;
}
.highlighted, .selected {
    fill: #000;
}
.node {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    pointer-events: none;
    fill: none;
    /*fill:red;*/
    stroke: #f13452;
    stroke-opacity:0;
    stroke-width: 1.5px;
}
.node.visible {
    fill: none;
    stroke-opacity:.25;
}
.node.enabled {
    stroke-opacity:1;
}
.node.invisible {
    stroke-opacity:0;
}
.node.asylum {
    stroke: #00d7ed;
}
line.link {
    stroke-width: 1.5px;
    stroke-opacity:1;
}
line.link-hitarea {
    stroke-width: 4px;
    stroke: Red;
    stroke-opacity:0;
}
.navbar {
    z-index: 4000;
    padding-right: 50px;
    padding-left: 50px;
    border:none;
    background-color: #000;
    color:#fff;
}
.navbar ul, .navbar li {
    margin: 0px;
    padding: 0px;
}
.navbar a {
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
.navbar a.navbar-link, .share-button a {
    color:#6d7988;
}
.navbar a.navbar-link:hover {
    color:#C4C4C4;
}
.navbar .navbar-brand {
    padding: 20px 0px;
}
.navbar .navbar-text {
    float: left;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-header, .navbar-nav>li {
    float: left;
}
.navbar-right {
    float: right;
}
#donate-button {
    padding-right: 15px;
}
.share-button {
    display: block;
    padding-top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    cursor: hand;
}
.share-button a {
    display: block;
    height: 30px;
    background-size: 30px;
}
#facebook-button a {
    background: url(/imgs/facebook.png) no-repeat;
    background-size: 30px;
}
#facebook-button a:hover {
    background-position: 0 -30px;
}
#twitter-button a {
    background: url(/imgs/twitter.png) no-repeat;
    background-size: 30px;
}
#twitter-button a:hover {
    background-position: 0 -30px;
}
#email-button a {
    background: url(/imgs/email.png) no-repeat;
    background-size: 30px;
}
#email-button a:hover {
    background-position: 0 -30px;
}
/*.share-button a {
    display: block;
    font-size: 24px;
    line-height: 1;
    margin: 22px 2px 0 4px;
    vertical-align: middle;
    color: #546070;
}
.share-button a:hover {
    color: #d6d6d6;
}
#facebook-button a {
    background: url(/imgs/facebook.png) no-repeat;
    background-size: 30px;
}
#facebook-button a:hover {
    background-position: 0 -30px;
}
#twitter-button a {
    background: url(/imgs/twitter.png) no-repeat;
    background-size: 30px;
}
#twitter-button a:hover {
    background-position: 0 -30px;
}
#email-button a {
    background: url(/imgs/email.png) no-repeat;
    background-size: 30px;
}
#email-button a:hover {
    background-position: 0 -30px;
}*/
 #map-nav-background {
    position: absolute;
    top:0px;
    left:0px;
    /*display:none;*/
    width: 700px;
    height: 95%;
    background-color: #000;
    opacity: 0;
}
#map-nav-head {
    position: absolute;
    top:100px;
    left:50px;
    width: 600px;
    height: 100px;
}
#map-nav-body {
    position: absolute;
    top:225px;
    left:50px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 700px;
    height: 450px;
}
#year-region {
    z-index: 2001;
    color:#EF3753;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
    line-height: 36px;
}
#year-region.asylum {
    color:#00d7ed;
}
#stats {
    float:left;
    padding-right: 25px;
    width: 200px;
    height: 100%;
}
#stats dl {
    margin:0px;
    padding: 0px;
}
#story-head {
    float:left;
    margin-bottom: 42px;
    height: 92px;
    color: #C4C4C4;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
    line-height: 36px;
    opacity: 0;
    /*word-break: break-all;*/
}
#story-head a {
    /*border-bottom:1px solid #C4C4C4;*/
    color: #C4C4C4;
    /*text-decoration: none;*/
    cursor: pointer;
    cursor: hand;
}
#story-head a:hover {
    /*border-bottom:1px solid #C4C4C4; 
    text-decoration: none;*/
}
#story-head p {
    width: 100%;
    height: 100%;
}
#story-head .badge {
    background-color:#000;
    color:#C4C4C4;
    vertical-align: 110%;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
#story-body {
    float:left;
    padding-right: 25px;
    padding-left: 25px;
    width: 400px;
    height: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-family:'Chronicle SSm A', 'Chronicle SSm B';
    opacity: 0;
}
#story-body dd {
    margin-bottom: 0px;
}
#story-body-border {
    float:left;
    height: 100%;
    border-left: 1px solid #C4C4C4;
}
.story-button {
    opacity: .5;
    cursor: pointer;
    cursor: hand;
}
image.story-button {
    opacity: .5;
}


.toggle-button {
    z-index: 5000;
    display: block;
    margin-bottom: 10px;
    width: 65px;
    /*width:100%;*/
    height:30px;
    float:left;
    /*cursor: pointer;
    cursor: hand;*/
}

#value-mode-button.origin-refugees a {
    display: block;
    height: 30px;
    background: url(/imgs/origin-refugees.png) no-repeat;
    background-size: 57px;
}
#value-mode-button.origin-refugees-population a {
    display: block;
    height: 30px;
    background: url(/imgs/origin-refugees-population.png) no-repeat;
    background-size: 57px;
}
#value-mode-button.asylum-refugees a {
    display: block;
    height: 30px;
    background: url(/imgs/asylum-refugees.png) no-repeat;
    background-size: 57px;
}
#value-mode-button.asylum-refugees-population a {
    display: block;
    height: 30px;
    background: url(/imgs/asylum-refugees-population.png) no-repeat;
    background-size: 57px;
}
#value-mode-button a:hover {
    background-position: 0 -30px;
}
 
#type-mode-button.origins a {
    display: block;
    height: 30px;
    background: url(/imgs/origins.png) no-repeat;
    background-size: 57px;
}
#type-mode-button.asylums a {
    display: block;
    height: 30px;
    background: url(/imgs/asylums.png) no-repeat;
    background-size: 57px;
} 
#type-mode-button a:hover {
    background-position: 0 -30px;
}

.value-mode-value {
    color:#EF3753;
    font-weight: 800;
    font-style: normal;
    font-size: 21px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
.value-mode-value.asylum {
    color:#00d7ed;
}
#refugee-mode{
    width:100%;
}
.world-rank-value {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
#world-zoom-button {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 5000;
    display: block;
    width: 100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
    cursor: hand;
}
#world-zoom-button a {
    display: block;
    height: 30px;
    background: url(/imgs/world-zoom.png) no-repeat;
    background-size: 57px;
}
#world-zoom-button a:hover {
    background-position: 0 -30px;
}
#home-button img {
    width: 150px;
    height: 13px;
    line-height: 0;
}
#play-button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 5000;
    display: block;
    width: 100px;
    height: 40px;
}
#play-button a {
    position: absolute;
    top: 10px;
    left: 8px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
}
#play-button.play a {
    background: url(/imgs/play.png) no-repeat;
    background-size: 20px;
}
#play-button.pause a {
    background: url(/imgs/pause.png) no-repeat;
    background-size: 20px;
}
/*#play-button a:hover {
    background-position: 0 -20px;
}*/
 #play-button.frame {
    border: none;
    background-color: #000;
}
.frame {
    cursor: pointer;
    cursor: hand;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
    fill: #000;
    stroke: none;
}
.frame.story > text {
    font-weight: 700;
    font-style: normal;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
    fill: #C4C4C4;
}
.frame:hover {
    fill: #C4C4C4;
    stroke: none;
}
.frame:hover > text {
    fill: #000;
    stroke: none;
}
.frame.selected {
    fill: #C4C4C4;
    stroke: none;
}
.frame.selected > text {
    fill: #000;
    stroke: none;
}
.frame.selected > rect {
    fill: #C4C4C4;
}
.frame-year {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    pointer-events: none;
    fill: #6B6B6B;
    text-anchor:middle;
}
.frame-refugees {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    stroke: none;
}
.frame-background {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}
.tooltip {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
    pointer-events: none;
}
.tooltip-inner {
    color:#000;
    background-color: #f13452;
    background-color: rgba(241, 52, 82, .75);
    white-space:pre-wrap;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #f13452;
    border-top-color: rgba(241, 52, 82, .75);
}

.tooltip.toggle .tooltip-inner {  
    color:#C4C4C4;
    background-color: #000;
    /*background-color: rgba(0, 215, 237, .75);*/
    white-space:pre-wrap;
} 
.tooltip.toggle .tooltip-arrow { 
    border-top-color: #000;
    /*border-top-color: rgba(0, 215, 237, .75);*/
}

.tooltip.link-asylum .tooltip-inner {  
    background-color: #00d7ed;
    background-color: rgba(0, 215, 237, .75);
    white-space:pre-wrap;
} 
.tooltip.link-asylum.top .tooltip-arrow { 
    border-top-color: #00d7ed;
    border-top-color: rgba(0, 215, 237, .75);
}

.tooltip.link-origin .tooltip-inner { 
    background-color: #f13452;
    background-color: rgba(241, 52, 82, .75);
    white-space:pre-wrap;
} 
.tooltip.link-origin.top .tooltip-arrow { 
    border-top-color: #f13452;
    border-top-color: rgba(241, 52, 82, .75);
}

.tooltip-value {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    font-family:'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B';
}
.mouse-tooltip {
    position: absolute;
    visibility: hidden;
    width:10px;
    height: 10px;
    background-color: White;
}
/* Standard (Mozilla) */
 @keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.blink {
    animation: blink 1.5s infinite;
}
/* Chrome & Safari */
 @-webkit-keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.blink {
    -webkit-animation: blink 1.5s infinite;
}
/* Mobile */
 #mobile-map-page, .navbar .year, .navbar .toggle, .navbar-mobile {
    display: none;
}
@media only screen and (max-height: 680px) {
    #home-page {
        position: absolute;
        top: 0;
        overflow: auto;
        padding-top: 50px;
        width: 100%;
        opacity: inherit;
        -webkit-overflow-scrolling: touch;
    }
    .carousel {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .carousel-caption {
        position: static;
        top: 80px;
        bottom: auto;
        bottom: 0;
        margin: 10px 10% 0;
        height: auto;
    }
}
